.project {
  position: relative;
  width: 100%;
  max-width: 720px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 0.33rem;
  margin-bottom: 3rem;
  width: calc(100% - 1.33rem);
  margin: 0 .66rem;
}

.project-label {
  position: relative;
  width: 100%;
  margin: 0.33rem 0;
  margin-bottom: .55rem;
  
  a {
    font-size: 1.5rem;
    position: relative;
    color: var(--text);
    text-decoration: none;
    padding-bottom: .12rem;

    &::after {
      transition: 300ms ease background;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      border-radius: 2px;
      filter: blur(.5px);
      content: "";
      display: block;
      background: transparent;
    }

    &:hover {
      &::after {
        background: var(--text);
      }
    }
  }
}

.project-preview {
  position: relative;
  border: solid var(--mid-trans) 0.5px;
  border-radius: 7px;
  opacity: 1;
  max-width: 720px;
  min-width: 100px;
  height: 80vh;
  width: 100%;
  
  .project-preview-content {
    border: none;
    border-radius: 7px;
    position: absolute;
    width: 100%;
    display: flex;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      width: 0px;
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background: transparent;
      background: rgba(127, 127, 127, 0.5);
    }

    p {
      font-size: 0.77rem;
    }
  }
  &::after {
    content: "";
    display: block;
    padding-top: 100%;
  }
}


.project-info {
  position: relative;
  width: 100%;
  padding: 0px;
  transition: 300ms ease all;
  overflow: hidden;
  height: auto;
  max-height: 400px;
  opacity: 1;
  // transform: scale(1);
  transform: scaleX(1);
  
  &.collapsed {
    // transform: scale(0);
    transform: scaleX(0);
    max-height: 0px;
    opacity: 0;
    padding: 0.33rem .1rem;
    overflow-x: auto;
  }
}

.project-link, .project-repo {
  font-size: 1.2rem;
  a {
    font-size: 1.1rem;
    color: #4a67e8;
    padding: 0 0.33rem;
  }
}
.project-description {
  font-size: 1.2rem;
  p {
    margin: 0;
  }
}

.project-end {
  position: relative;
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 1rem;
}

.toggle-info-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-info {
  padding: 0.66rem 1rem;
  background: var(--text);
  color: var(--background);
  font-weight: 300;
  opacity: 0.77;
  width: 100px;
  height: 1.5rem;
  margin: 1rem auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: 3px;
  cursor: pointer;
  transition: 300ms ease all;


  &:hover {
    opacity: 1;
  }
}
