header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--background);
  border: 0 solid #e2e8f0;
  z-index: 11;
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 100%;
  box-shadow: 0 8px 12px 4px var(--background);

  @media (max-width: 550px) {
    height: 60px;
  }
}

nav {
  padding: 0.33rem;
  width: 100%;
  max-width: 980px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand-wrapper {
  display: flex;
  align-items: center;
  padding: 0 .33rem;
  cursor: pointer;
  &:hover{
    svg{
      opacity: 1;
      transform: translateY(-4px);
    }
  }
  @media (max-width: 550px) {
    min-width: 120px;
  }

  svg{
    width: 2rem;
    height: 2rem;
    opacity: .88;
    transition: all ease 300ms;
    height: 100%;
  }
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.2rem;
  opacity: .8;

  &:hover{
    a{
      opacity: .5;
    }
  }
  
  a {
    text-decoration: none;
    color: inherit;
    transition: opacity 300ms ease;
    display: flex;
    align-items: center;
    color: var(--text);
    opacity: 0.88;
    text-decoration: none;
    margin: 0;
    margin-left: 2rem;
    width: fit-content;
    height: 2rem;
    &:hover {
      opacity: 1;
      &::before {
        opacity: 1;
      }
    }
  }
}

.nav-contact-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 0.66rem;
  border-radius: 2rem;
  border: 1px solid var(--mid);
  margin: 0.5rem;
  color: var(--mid);
  line-height: 14px;
  text-decoration: none;
  opacity: 0.6;
  transition: all ease 300ms;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}

.nav-github-link {
  padding: .33rem;
  svg {
    width: 2rem;
    height: 2rem;
  }
  .label {
    margin: 0 4px;
  }
}
