.Home-Page {
  padding: 0.33rem;
}

.hero {
  margin-top: 120px;
  margin-bottom: 3rem;
  width: 100%;
  color: var(--text);
}
.logo {
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  svg{
    position: relative;
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 5rem;
    border: solid 5px var(--text);
    padding: 0.2rem;
  }
}
.title {
  margin: 0;
  width: 100%;
}
.title,
.description {
  text-align: center;
}
.links {
  max-width: 880px;
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.contact-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 0.66rem;
  font-size: 14px;
  border-radius: 15px;
  border: 1px solid var(--mid);
  margin: 0.5rem;
  color: var(--mid);
  line-height: 14px;
  text-decoration: none;
  opacity: 0.6;
  transition: all ease 300ms;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}

.github {
  svg {
    width: 14px;
    height: 14px;
  }
  .label {
    margin: 0 4px;
  }
}

.resume {
  svg {
    width: 14px;
    height: 14px;
    stroke-width: 2px;
    stroke: var(--text);
  }
  .label {
    margin: 0 4px;
  }
}

.projects {
  position: relative;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  margin-bottom: 3rem;
  box-sizing: border-box;
  padding: 0 .5rem;
  display: flex;
  flex-flow: column;
  align-items: center;

  .projects-feed-label {
    position: relative;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 0.99rem;
    color: var(--text);


    &::after {
      transition: 300ms all ease;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      content: "";
      display: block;
      // background: transparent;
      background: var(--text);
    }

    &:hover{
      &::after {
        background: var(--text);
      }
    }
  }
}