@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');
:root{
  --background: #fff;
  --text: #000;
  --mid: #333;
  --mid-trans: rgba(51, 51, 51, 0.5);
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    width:12px;
    background: transparent;
    // background: var(--mid-trans);
  }
  &::-webkit-scrollbar-thumb {
    background: transparent;
    background: var(--mid);
  }
}
h1, h2, h3, h4, h5 {
  font-family: 'Roboto';
  font-weight: 900;
}
p {
  font-family: 'Roboto', sans-serif;
}